*{
    margin: 0px;
    padding: 0px;
    font-family: 'Cairo', sans-serif;
}
/* phones */
@media only screen and (max-width: 600px) {
    body{
        background-image: url(background2.svg);
        background-repeat: no-repeat;
        background-size: 100%; 
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

        .navbartext ul{
            display: none;
         }
        .menu {
            background-color: #F8926E;
            display: flex;
            justify-content: end;
            padding: 15px;    
            color: white; 
            width: 95%;
        }

        .text{
            display: flex;
            flex-direction: column;
            margin-top: 150%; 

        }
        .text h1 , a{
            text-align: center;
            color: white;
            margin: 5%;
        }
        .text a{
            text-decoration: none;
            margin: 20%;
        }
        .Container{
            display: flex;
            justify-content: center;
            margin: 8vh 0vh;
        }
        .TheGame{
            background-color:#F6FFFC;
            height:120vh;
            width: 85vh;
            display: flex;
            flex-direction: column;
            align-items: center; 
        }
        .TheGame img{
           margin-top: 3vh;
           padding-right: 4vh;
           opacity: 0.2;
        }
        .TheGame p{
            opacity: 0.2;
        }
        .squares{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(6,1fr);
            gap: 6px;
            margin-top: 30px;
            opacity: 0.2;
        }
        .Square{
            background-color: #36B5B0;
            height: 13vh;
            width: 13vh;
            border-radius: 20px;
        }
        .DiffrentSquare{
            background-color: #86C0BE;
            height: 13vh;
            width: 13vh;
            border-radius: 20px;
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .Button{
            background-color: #4BBD9B;
            border-radius: 40px;
            width: 30vw;
            padding: 2vh 2vh; 
            position: absolute;
            top:70%;
            left: 30%;
        }
        .Button a{
            text-decoration: none;
            color: white;
            margin-left: 3vh;
        }
        
       
}

/*desktops */
@media only screen and (min-width: 992px){
         body{
        background-image: url("background2.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
         }
    
        .menu{
            display: none;
        }
        .navbartext ul{
            background-color: #F8926E;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            padding-bottom: 15px;
        }
        .navbartext li{
            display: inline;
            font-size:large;
            font-weight: bold;
            margin-top: 2vh; 
            margin-left: 5vh;
            margin-right: 5vh;
            text-shadow: 1px 1px #bdb9b9;
        }
        .navbartext a{
            text-decoration: none;
            color: white;   
        }
        .navbartext a:hover{
            color: #FDD456;
        }
        .Container{
            display: flex;
            justify-content: center;
            margin: 8vh 0vh;
        }
        .TheGame{
            background-color:#F6FFFC;
            height:90vh;
            width: 130vh;
            display: flex;
            flex-direction: column;
            align-items: center; 
        }
        .TheGame img{
            display: none;
        }
        .TheGame p{
            opacity: 0.2;
        }
        .prograsbar{
            display: inline;
            background-image: url(PrograsBar.svg);
            background-repeat: no-repeat;
            width: 100vh;
            height:22vh;
            margin-top: 3vh;
            opacity: 0.2;
        }
        .squares{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: repeat(3,1fr);
            gap: 2vh;
            margin-top: 30px;
            opacity: 0.2;
        }
        .Square{
            background-color: #36B5B0;
            height: 15vh;
            width: 15vh;
            border-radius: 30px;
        }
        .DiffrentSquare{
            background-color: #86C0BE;
            height: 15vh;
            width: 15vh;
            border-radius: 30px;
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .Button{
            background-color: #4BBD9B;
            border-radius: 40px;
            width: 13vw;
            padding: 2vh 2vh;
            position: absolute;
            top:60%;
            left: 40%;
        }
        .Button:hover{
            background-color: white;
            border-radius: 40px;
            border: 2px solid #4BBD9B;
        }
        .Button a{
            text-decoration: none;
            color: white;
            text-align: center;
            margin-left: 1vh;
        }
        .Button a:hover{
            color: #4BBD9B;
        }
}
